.card-container {
    width: 100%;   
    max-width: 360px;
    background-color: var(--card-background-gray);
    border-radius: 0px;
    padding: 14px;
    margin: 14px;
    img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
}
.card-container__articles {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    .info__left{
        font-family: 'Inter';
        margin-bottom: 16px;
        h1 {
            font-size: 18px;   
            margin: 12px 0 12px 0;         
        }
        h2 {
            font-size: 13px;   
            font-weight: 400;  
            padding-right: 4px;  
        }
        p {
            font-weight: 500; 
            font-size: 12px;            
        }
        .info__left-details {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: row;         
        }
    }
    .info__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p{font-size: 12px;}
        button {
           
            color: black;
            font-size: 12px;
            font-family: 'Inter';
            font-weight: 550;
            width:110px ;
            height: 30px;
            margin: 8px;
            margin-right: 0;
            border: solid;
            border-width: 1.5px;
            border-radius: 4px;
            border-color: rgb(0, 0, 0);
            cursor: pointer;
        }        
        .adopt-button {
            margin-top: 0;
            background-color: var(--card-button-background);            
        }
        .location {
            display: flex; 
            align-items: center; 
            margin-right: 4px;
        }
    }
}