<section class="give-rescue-container">
    <form class="give-rescue-form" [formGroup]="rescueForm" (ngSubmit)="send($event)">
      <h1>Publicar mascota Callejera</h1>
  
      <div class="give-rescue-form__content">
        <p>Especie:</p>
        <mat-form-field>
          <mat-label>Seleccione</mat-label>
          <mat-select formControlName="breed">
            <mat-option *ngFor="let opcion of breed" [value]="opcion">{{opcion}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.rescueForm.controls['breed'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="give-rescue-form__content">
        <p>Tamaño:</p>
        <mat-form-field>
          <mat-label>Seleccione</mat-label>
          <mat-select formControlName="size">
            <mat-option *ngFor="let opcion of size" [value]="opcion">{{opcion}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.rescueForm.controls['size'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>      
      <div class="give-rescue-form__content">
        <p>Herido:</p>
        <mat-form-field>
          <mat-label>Seleccione</mat-label>
          <mat-select formControlName="hurt">
            <mat-option *ngFor="let opcion of hurt" [value]="opcion">{{opcion}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.rescueForm.controls['hurt'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="give-rescue-form__content">
        <p>Observaciones:</p>
        <mat-form-field>
          <mat-label>Cuéntanos más</mat-label>
          <textarea matInput formControlName="remarks"></textarea>
          <mat-error
            *ngIf="this.rescueForm.controls['remarks'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>  
      <div class="give-rescue-form__content">
        <p>Fotografias:</p>
        <mat-form-field>
          <input matInput formControlName="photos">
          <mat-error *ngIf="this.rescueForm.controls['photos'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>          
      <div class="give-rescue-form__content">
        <p>Estado:</p>
        <mat-form-field>
          <mat-label>Seleccione</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let opcion of state" [value]="opcion">{{opcion}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.rescueForm.controls['state'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="give-rescue-form__content">
        <p>Ciudad:</p>
        <mat-form-field>
          <mat-label>Seleccione</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let opcion of city" [value]="opcion">{{opcion}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.rescueForm.controls['city'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="give-rescue-form__content">
        <p>Dirección:</p>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <textarea matInput formControlName="address" placeholder="Ej: Carrera 12 con calle 13"></textarea>
          <mat-error *ngIf="this.rescueForm.controls['address'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="give-rescue-form__content">
        <p>Ubicacion GPS:</p>
        <mat-form-field>
          <input matInput formControlName="location">
          <mat-error *ngIf="this.rescueForm.controls['location'].hasError('required')">{{getRequiredMsg()}}</mat-error>
        </mat-form-field>
      </div>      
  
      <div class="give-rescue-form__buttons">
        <button class="give-rescue-form-button" type="submit">Enviar</button>
        <button class="give-rescue-form-button" routerLink="/home">Cancelar</button>
      </div>
    </form>
  </section>