<section class="pet-search-container">
    <h1 *ngIf="this.categoryName">{{this.categoryName}}s</h1>
    <div class="pet-search-content">
        <article class="categoryMenu" >
            <b>Especie: </b>
            <p id="category"  (click)="changeStatusCategoryMenu(); closeMenu(); closeSizeMenu()">{{this.categoryName}}</p>
            <mat-icon id="category"  (click)="changeStatusCategoryMenu(); closeMenu(); closeSizeMenu()" style="font-size: 20px;cursor: pointer;">expand_more</mat-icon>

            <ul class="category-menu" [ngClass]="statusCategoryMenu ? 'active':'inactive'">
                <li (click)="changeStatusCategoryMenu()" routerLink="/pet-category/0" [queryParams]="{filter: 'all'}">Perros</li>
                <li (click)="changeStatusCategoryMenu()" routerLink="/pet-category/1">Gatos</li>
                <li (click)="changeStatusCategoryMenu()" routerLink="/pet-category/2">Aves</li>
                <li (click)="changeStatusCategoryMenu()" routerLink="/pet-category/3">Tortugas</li>
                <li (click)="changeStatusCategoryMenu()" routerLink="/pet-category/4">Conejos</li>
            </ul>
        </article>

        <article class="locationMenu">
            <b>Ubicación: </b>
            <p id="location" (click)="changeStatusMenu(); closeCategoryMenu(); closeSizeMenu()">{{this.location}}</p>
            <mat-icon id="location" (click)="changeStatusMenu(); closeCategoryMenu(); closeSizeMenu()" style="font-size: 20px;cursor: pointer;">expand_more</mat-icon>

            <ul class="location-menu" [ngClass]="statusMenu ? 'active':'inactive'">
                <li (click)="changeStatusMenu(); updateLocation(location)" *ngFor="let location of locations">{{location}}</li>
            </ul>

        </article>
        <article  class="sizeMenu" *ngIf="this.sizeFilter">
            <b>Tamaño: </b>
            <p id="size" (click)="changeStatusSizeMenu(); closeCategoryMenu(); closeMenu()">{{this.getFilterName()}}</p>
            <mat-icon id="size" (click)="changeStatusSizeMenu(); closeCategoryMenu(); closeMenu()" style="font-size: 20px;cursor: pointer;">expand_more</mat-icon>

            <ul class="size-menu" [ngClass]="statusSizeMenu ? 'active':'inactive'">
                <li (click)="changeStatusSizeMenu(); " routerLink="/pet-category/0" [queryParams]="{filter: 'all'}">Todos</li>
                <li (click)="changeStatusSizeMenu(); " routerLink="/pet-category/0" [queryParams]="{filter: 'big'}">Grande</li>
                <li (click)="changeStatusSizeMenu(); " routerLink="/pet-category/0" [queryParams]="{filter: 'regular'}">Mediano</li>
                <li (click)="changeStatusSizeMenu(); " routerLink="/pet-category/0" [queryParams]="{filter: 'small'}">Pequeño</li>
            </ul>

        </article>
    </div>
</section>
<app-cards [pets]="pets"></app-cards>