.rescue-pets-container {
    display: flex;
    align-items: center;
    flex-direction: column;
   h1 {
    font-family: "IBM Plex Sans KR";
    font-size: 22px;
    font-weight: 600;  
    text-align: center;
    margin: 22px 10px 0 10px
   } 
   h2 {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
   }
}
.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 160px;
    text-align: center;

    img {
        width: 100%;
        max-width: 380px;
    }
}