section {
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    height: 200px;
    width: 200px;
    background-color: white;
    
    padding-top: 30px;

    h1 {
        color: rgb(10, 114, 10);
        text-align: center;
        font-size: 22px;
        margin-bottom: 30px;
    }

    button {
        cursor: pointer;
        color: black;
        font-size: 14px;
        font-family: 'Inter';
        font-weight: 550;
        width: 110px;
        height: 35px;
        border: none;
        box-shadow: 1px 1px 4px black;
        border-width: 1.5px;
        border-radius: 4px;
        // border-color: rgb(0, 0, 0);
        background-color: var(--card-button-background);
    }
}