.swiper-image {   
     width: 100% !important;
     height: 182px !important;
     display: block !important;
     object-fit: cover;
     padding: 0px;
     margin-bottom: -6px;
}
@media (width >= 1024px) {
     .swiper-image {             
          height: 380px !important;         
     }
}