
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <section *ngFor="let image of images">
            <div class="carousel-item" [ngClass]="{'active': image.indice === 0}">
                <img class="d-block w-100" src="{{image.url}}" alt="First slide">             
            </div>
        </section>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
  </div>

