.swiper-image {   
     width: 100% !important;
     max-height: 300px !important;
     min-height: 180px !important;
     display: block !important;
     object-fit: cover;
     padding: 0px;
     margin-bottom: -6px;
}