.login-container {
    width: 100%;
    height: 100%;
    min-height: 660px;
    display: flex;
    justify-content: center;
    h2 {
        text-align: center;
        color: #a37e04;
        margin-bottom: 10px;
    }
    .login {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 22px;
        width: 80%;
        height: 100%;
        min-width: 260px;        
        max-width: 340px;
        border-radius: 8px;        
        box-shadow: 1px 1px 6px black;        
        margin: 60px 0 100px 0;
        background-color: var(--login-card-background);
        h1 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        mat-form-field{
            margin-bottom: 0px;
            width: 100%;            
        }
        h3 {
            font-size: 12px;
            font-family: 'Inter';
            font-weight: 550;
            margin-bottom: 20px;
            text-decoration: underline;
            cursor: pointer;
        }
        .login__button--login {
            margin: 0 14px 26px 14px;
            color: black;
            font-size: 14px;
            font-family: 'Inter';
            font-weight: 550;
            width: 110px ;
            height: 35px;        
            border: solid;
            border-width: 1.5px;
            border-radius: 4px;
            border-color: rgb(0, 0, 0);
            background-color: var(--card-button-background);
            cursor: pointer;
        }
        .login__label--register {
            margin-bottom: 14px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 550;
        }
        .login__button--register {
            @extend .login__button--login
        }
        .login__label--error {
            font-size: 14px;
            font-weight: 600;
        }
    }   
}
