.not-found-container {
    height: 640px;
    width: 100%;
    padding-top: 20px;
    h1 {
        font-size: 24px;
        font-family: "IBM Plex Sans KR";
        font-weight: 600;
        margin-left: 30px;
    }
    img {
        width: 100%;
        max-width: 600px;
    }
}