.switcher-container {
    width: 100%;
    height: 60px;
    padding: 18px 5vw 18px 5vw;
    margin-top: 6px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    mat-form-field {
        width: 56%;
        min-width: 130px;
        max-width: 220px;
        margin-right: 6px;
    }

    .switcher__buttons {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: 28px;

        button {
            font-size: 13px;
            font-weight: 600;
            color: black;
            width: 70px;
            height: 38px;
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: 0.5px 0.5px 3px black;
            cursor: pointer;
        }

        .button-left {
            border-radius: 8px 0 0 8px;
            border-right: none;
        }

        .button-right {
            border-radius: 0 8px 8px 0;
        }
    }
}

.active {
    background-color: var(--second-golden-color);
}

.inactive {
    background-color: white
}

@media (width >=1024px) {
    .filter {
        display: none;
    }

    .switcher-container {
        justify-content: center;
    }
}