.switcher-container {
    width: 100%;
    height: 60px;
    padding: 18px 5vw 18px 5vw;    
    margin-top: 6px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    mat-form-field {
        width: 56%;
        min-width: 130px;
        max-width: 220px;
        margin-right: 6px;
    }

    .switcher__buttons {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: 28px;

        button {
            font-size: 12.5px;
            color: black;
            width: 70px;
            height: 38px;
            margin: 0;
            padding: 0;
            border: solid;
            border-color: black;
            border-width: 1px;
            cursor: pointer;
        }

        .button-left {
            border-radius: 4px 0 0 4px;
            border-right: none;
        }

        .button-right {
            border-radius: 0 4px 4px 0;
        }
    }
}

.active {
    background-color: var(--second-golden-color);
    font-weight: 600;
    
    font-size: 13.2px !important;
}

.inactive {
    background-color: white
}

@media (width >= 1024px) {
   .filter {
    display: none;
   }
   .switcher-container {
    justify-content: center;
    }

}

@media (width < 1024px) {
   
}