<section class="switcher-container">
   <!-- <p> Ubicación: </p> -->
     
    <mat-form-field style="width: 180px;">
        <mat-label>Ubicación</mat-label>
        <mat-select disableRipple [(value)]="selected">
          <mat-option *ngFor="let location of locations" [value]="location.value">
            {{location.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    <div class="switcher__buttons">
        <button class="button-left">Adoptar</button>
        <button class="button-right">Rescatar</button>
    </div>
</section>
