<section class="switcher-container"> 
    <mat-form-field class="filter">
        <mat-label>Ubicación</mat-label>
        <mat-select disableRipple [formControl]="locationList" (selectionChange)="sendSwitchLocationMessage()" >
          <mat-option *ngFor="let location of locations" [value]="location" >
            {{location}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    
    <div class="switcher__buttons">      
        <button class="button-left" [ngClass]="btnIzquierda ? 'active':'inactive'" (click)="activarBtnIzquierda()">Adoptar</button>
        <button class="button-right" [ngClass]="btnDerecha ? 'active':'inactive'" (click)="activarBtnDerecha()">Rescatar</button>
    </div>
</section>
