.pet-search-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 12px 0 10px 20px;
   h1 {
    font-family: "IBM Plex Sans KR";
    font-size: 30px;
    font-weight: 600;  
    margin-left: 2px;
   } 
   
   .pet-search-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    h2 {
        display: flex;
        flex-direction: row;
        font-family: "Inter";
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;  
        margin-bottom: 4px;
        cursor: pointer;
            p {
                text-decoration: underline;
            }
       } 
    .location-menu{
        position: absolute;
        z-index: 4;
        width: 102px;
        height: auto;
        top: 18px;
        left: 192px;
        li{
            background-color: var(--background-gray);
            width: 100%;
            height: 30px;
            padding: 4px;
            text-align: center;
            font-size: 14px;
            text-decoration: none;
            list-style: none;
        }
    }  
   }
}