<header>
    <div class="header-top">
        <div class="header-top__menu">
            <div class="header-top__login">
                <mat-icon style="font-size: 30px; color: white;">menu</mat-icon>
                <img src="https://i.postimg.cc/Hx34wMLL/logo.jpg" alt="">
            </div>
            <div class="header-top__login">
                <p>Inicia Sesion/Registrate</p>
                <mat-icon style="font-size: 24px; color: white;">account_box</mat-icon>
            </div>
        </div>
        <div class="header-top__search">
            <form class="header-top__form">
                <input type="text" class="header-top__searchForm" placeholder="  Buscar">
            </form>
            <button> <mat-icon style="font-size: 22px; color: black;">search</mat-icon></button>
        </div>
    </div>

    <div class="header-menu">
        <div class="header-menu__left">
            <a>Animales y Razas</a>
            <mat-icon style="font-size: 20px;">expand_more</mat-icon>
        </div>
        <a href="">Solicitar Rescate</a>
        <div class="header-menu__right">
            <mat-icon style="font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>
            <a href="">Publicar Mascota</a>
        </div>

    </div>
</header>