.terms-container {
    min-height: 620px;
    width: 100%;
    padding: 40px;

    h1 {
        font-size: 32px;
        font-weight: 550;
        text-align: center;
        margin-bottom: 30px;
        
    }
    p {
        font-size: 16px;
        text-align: justify;
        margin-bottom: 20px;
    }
}