<mat-drawer-container class="sidenav-container" [hasBackdrop]="true">
  <mat-drawer class="sidenav__menu" #drawer [mode]="'over'">
    <div class="menu__title"><mat-icon style="font-size: 28px;margin-bottom: 5px; margin-right: 4px;">pets</mat-icon>
      <h1>Menú</h1><mat-icon style="font-size: 28px;margin-bottom: 6px; margin-left: 4px;">pets</mat-icon>
    </div>
    <mat-accordion class="example-headers-align" multi="false">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Animales y Razas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion class="example-headers-align" multi="false">
          <div class="menu__element--in" routerLink="pet-category/0" (click)="drawer.toggle()"
            [queryParams]="{filter: 'all'}"> <a>Perros</a></div>
          <div class="menu__element--in" routerLink="pet-category/1" (click)="drawer.toggle()"> <a>Gatos</a></div>
          <div class="menu__element--in" routerLink="pet-category/2" (click)="drawer.toggle()"> <a>Aves</a></div>
          <div class="menu__element--in" routerLink="pet-category/3" (click)="drawer.toggle()"> <a>Tortugas</a></div>
          <div class="menu__element--in" routerLink="pet-category/4" (click)="drawer.toggle()"> <a>Conejos</a></div>
        </mat-accordion>
      </mat-expansion-panel>

      <div class="menu__element" routerLink="lost" (click)="drawer.toggle()"> <a>Mascotas Extraviadas</a></div>
      <div class="menu__element" routerLink="rescue" (click)="drawer.toggle()"> <a>Mascotas Para Rescatar</a></div>
      <div class="menu__element" routerLink="give-adoption" (click)="drawer.toggle()"> <a>Publicar Mascota en
          Adopción</a></div>
      <div class="menu__element" routerLink="give-rescue" (click)="drawer.toggle()"> <a>Publicar Mascota Perdida</a></div>
      <div class="menu__element" routerLink="give-lost" (click)="drawer.toggle()"> <a>Publicar Mascota Callejera</a></div>          
      <div class="menu__element" routerLink="rescue-request" (click)="drawer.toggle()"> <a>Solicitar Rescate</a></div>
      <div class="menu__element" routerLink="report" (click)="drawer.toggle()"> <a>Denunciar Maltrato</a></div>
      <div class="menu__element" routerLink="location" (click)="drawer.toggle()"> <a>Ubicación</a></div>
      <div class="menu__element" routerLink="terms" (click)="drawer.toggle()"> <a>Términos y condiciones</a></div>
      <div class="menu__element" routerLink="contact" (click)="drawer.toggle()"> <a>Contacto</a></div>
      <div class="menu__element" routerLink="/auth/login" *ngIf="!userLogued" (click)="drawer.toggle()"> <a>Iniciar Sesión</a></div>      
      <div class="menu__element" routerLink="home" *ngIf="userLogued" (click)="drawer.toggle(); logout()"> <a>Cerrar Sesión</a></div>

      
    </mat-accordion>

  </mat-drawer>

  <app-header (sideNavOpen)="drawer.toggle()"></app-header>
  <router-outlet></router-outlet>
  <app-footer class="footer"></app-footer>

</mat-drawer-container>