<mat-drawer-container class="sidenav-container" [hasBackdrop]="true">
   <mat-drawer class="sidenav__menu" #drawer [mode]="'over'">
      <div class="menu__title"> <h1>Menú</h1> </div>
      <mat-accordion class="example-headers-align" multi="false">
              
         <!-- <mat-expansion-panel class="mat-panel" (opened)="panelOpenState = true"(closed)="panelOpenState = false">
           <mat-expansion-panel-header>
             <mat-panel-title><h1>Animales y Razas</h1></mat-panel-title>                     
           </mat-expansion-panel-header>
                <mat-expansion-panel class="mat-panel" (opened)="panelOpenState = true"(closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title><h1>Perros</h1></mat-panel-title>                     
                  </mat-expansion-panel-header>
                  <div class="menu__element"> <a routerLink="#">Pequeños</a> </div>
                  <div class="menu__element"> <a routerLink="#">Medianos</a> </div>
                  <div class="menu__element"> <a routerLink="#">Grandes</a> </div>
                </mat-expansion-panel>
         </mat-expansion-panel>
         <mat-expansion-panel >
         
        </mat-expansion-panel> -->

        
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Animales y Razas
            </mat-panel-title>            
          </mat-expansion-panel-header>
                <mat-expansion-panel class="mat-panel" (opened)="panelOpenState = true"(closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title><h1>Perros</h1></mat-panel-title>                     
                  </mat-expansion-panel-header>
                  <div class="menu__element"> <a routerLink="#">Pequeños</a> </div>
                  <div class="menu__element"> <a routerLink="#">Medianos</a> </div>
                  <div class="menu__element"> <a routerLink="#">Grandes</a> </div>
                </mat-expansion-panel>      
        </mat-expansion-panel>   
                  <mat-expansion-panel hideToggle routerLink="admin"><mat-expansion-panel-header><mat-panel-title>
                    Mascotas para Rescatar
                  </mat-panel-title></mat-expansion-panel-header></mat-expansion-panel>
                  <mat-expansion-panel hideToggle routerLink="admin"><mat-expansion-panel-header><mat-panel-title>
                        Mascotas Perdidas
                  </mat-panel-title></mat-expansion-panel-header></mat-expansion-panel>
                  <mat-expansion-panel hideToggle routerLink="admin"><mat-expansion-panel-header><mat-panel-title>
                        Denunciar Maltrato
                  </mat-panel-title></mat-expansion-panel-header></mat-expansion-panel>
                  <mat-expansion-panel hideToggle routerLink="admin"><mat-expansion-panel-header><mat-panel-title>
                        Contacto
                  </mat-panel-title></mat-expansion-panel-header></mat-expansion-panel>
                  <mat-expansion-panel hideToggle routerLink="admin"><mat-expansion-panel-header><mat-panel-title>
                        Ubicación
                  </mat-panel-title></mat-expansion-panel-header></mat-expansion-panel>
                  <mat-expansion-panel hideToggle routerLink="admin"><mat-expansion-panel-header><mat-panel-title>
                        Iniciar Sesión
                  </mat-panel-title></mat-expansion-panel-header></mat-expansion-panel>        
      </mat-accordion>

   </mat-drawer>
  
   <app-header (sideNavOpen)="drawer.toggle()"></app-header>
   <router-outlet></router-outlet>
   <app-footer></app-footer>
  
</mat-drawer-container>

