.register-container {
    width: 100%;
    height: 100%;
    min-height: 660px;
    display: flex;
    justify-content: center;

    .register {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 22px;
        width: 80%;
        height: 100%;
        min-width: 260px;        
        max-width: 340px;
        border-radius: 8px;        
        box-shadow: 1px 1px 6px black;        
        margin: 60px 0 100px 0;
        background-color: var(--register-card-background);
        h1 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 36px;
        }
        mat-form-field{
            width: 100%;            
        }
        .register__buttons {
            display: flex;
            align-items: center;

            .register__button--register {
                margin: 6px 10px 20px 10px;
                color: black;
                font-size: 14px;
                font-family: 'Inter';
                font-weight: 550;
                width: 110px ;
                height: 35px;        
                border: none;
                box-shadow: 0.5px 0.5px 3px black;
                border-width: 1.5px;
                border-radius: 4px;
                background-color: var(--card-button-background);
                cursor: pointer;
            }
        }
        
        .register__label--register {
            margin-bottom: 20px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 550;
        }
        
        .register__label--error {
            font-size: 14px;
            font-weight: 600;
        }
        .register__checkbox {
            margin-bottom: 26px;   
            
            .terms__error {
                font-size: 13px;
            }
            .responsability__error {
                @extend .terms__error
            }
        }
    
    }   
}
