// @import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

:root{
    --header-background : #102937;
    --background-gray  : #D9D9D9;    // To use on header and navbar 
    --card-background-gray : #EEEEEE; // to be used on cards
    --card-button-background: #E3EAEC; 
    --navbar-selected-first: #C2C2C2;
    --navbar-selected-second: #ADACAC;
    --navbar-selected-third: #A1A1A1;  
    --black: #000000;      
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; //Usaremos rems para que desde el explorador se pueda cambiar el tamaño de la fuente    
    font-family: 'IBM Plex Sans KR', sans-serif;
}      
.mat-icon {
    width: auto !important;
    height: auto !important;
}