@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
:root{
    --header-background : #102937;
    --background-gray  : #D9D9D9;    // To use on header and navbar 
    --card-background-gray : #EEEEEE; // to be used on cards
    --card-button-background: #e6eaf0; 
    --navbar-selected-first: #C2C2C2;    
    --menu-border-color: #b4b4b4;
    --black: #000000;      
    --login-card-background: rgb(236, 236, 236);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; //Usaremos rems para que desde el explorador se pueda cambiar el tamaño de la fuente    
    font-family: 'IBM Plex Sans KR', sans-serif;
}  

//Modificacion de estilos globales de Material y Swiper
.mat-icon {
    width: auto !important;
    height: auto !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 22px !important;
    color: black !important;
}
// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
//     padding: 7px !important;
// }
// .mat-mdc-text-field-wrapper {
//     height: 35px !important;
// }
// .mdc-text-field .mdc-floating-label {  
//     transform: translateY(-110%) !important;   
// }