<header class="mobile">
    <div class="header-top">
        <div class="header-top__menu">
            <div class="header-top__login">
                <mat-icon style="font-size: 30px; color: var(--golden-color); cursor: pointer; " (click)="openSideNav()"
                    (mouseenter)="openSideNav()">menu</mat-icon>
                <img routerLink="home" src="{{app_logo.url}}" alt="{{app_logo.alt}}">
            </div>
            <div class="header-top__login">
                <p routerLink="/auth/login" *ngIf="!userEmail">Inicia Sesion/Registrate</p>
                <p id="user_email" (click)="openProfileMenu()" *ngIf="userEmail">{{userEmail}}</p>
                <mat-icon id="account_box" (click)="openProfileMenu()"
                    style="font-size: 30px; color: var(--golden-color)">account_box</mat-icon>
                <div (click)="openProfileMenu()" class="profile-menu"
                    [ngClass]="statusProfileMenu ? 'active':'inactive'">
                    <button>Perfil</button>
                    <button routerLink="contact">Contacto</button>
                    <button (click)="logout()" *ngIf="userLogued">Cerrar Sesión</button>
                    <button routerLink="/auth/login" *ngIf="!userLogued">Iniciar Sesión</button>
                </div>
            </div>
        </div>
        <div class="header-top__search">
            <form class="header-top__form" (submit)="send($event)">
                <input type="text" [formControl]="query" placeholder="Buscar">
                <button type="submit"> <mat-icon
                        style="font-size: 22px; color: black;">search</mat-icon></button>
            </form>
        </div>
    </div>

    <ul class="header-menu">
        <!-- <ul class="header-menu__left" (mouseenter)="openFirstMenu()" (mouseleave)="closeFirstMenu()"> -->
        <ul class="header-menu__left">
            <a id="open-animal-left">Mascotas y Razas</a><mat-icon id="open-animal-left"
                style="font-size: 20px;">expand_more</mat-icon>
            <ul class="animal-menu" (mouseleave)="closeFirstMenu();closeSecondMenu()">
                <ul class="animal-menu__left" [ngClass]="statusFirstMenu ? 'active':'inactive'">
                    <button id="open-animal-right" (click)="openSecondMenu()" (mouseenter)="openSecondMenu()"
                        [ngClass]="statusSecondMenu ? 'activeButton':'none'">
                        <p id="open-animal-right">Perros</p><mat-icon id="open-animal-right">chevron_right</mat-icon>
                    </button>
                    <button routerLink="pet-category/1" (mouseenter)="closeSecondMenu()">Gatos</button>
                    <button routerLink="pet-category/2" (mouseenter)="closeSecondMenu()">Aves</button>
                    <button routerLink="pet-category/3" (mouseenter)="closeSecondMenu()">Tortugas</button>
                    <button routerLink="pet-category/4" (mouseenter)="closeSecondMenu()">Conejos</button>
                </ul>
                <ul class="animal-menu__right" [ngClass]="statusSecondMenu ? 'active':'inactive'">
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'all'}">Todos</button>
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'big'}">Grandes</button>
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'regular'}">Medianos</button>
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'small'}">Pequeños</button>
                </ul>
            </ul>
        </ul>

        <a routerLink="lost" class="header-menu__center">Extraviadas</a>

        <!-- <ul class="header-menu__right" (mouseenter)="openRightMenu()" (mouseleave)="closeRightMenu()"> -->
        <ul class="header-menu__right">
            <mat-icon id="open-menu-right"
                style="font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black;margin-right: 3px; ">photo_camera</mat-icon>
            <a id="open-menu-right">Publicar Mascota</a>
            <ul class="animal-menu-right" (mouseleave)="closeRightMenu()">
                <ul class="animal-menu-right-buttons" [ngClass]="statusRightMenu ? 'active':'inactive'">
                    <button routerLink="give-adoption">
                        <mat-icon style="margin-left: 4px;margin-right:4px;font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>
                        Publicar mascota en Adopción
                    </button>
                    <button routerLink="give-lost">
                        <mat-icon style="margin-left: 4px;margin-right:4px;font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>
                        Publicar mascota Extraviada
                    </button>
                    <button routerLink="give-rescue">
                        <mat-icon style="margin-left: 4px;margin-right:4px;font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>
                        Publicar mascota Callejera
                    </button>
                </ul>
            </ul>
        </ul>
    </ul>
</header>
<header class="desktop">
    <div class="header-top">
        <div class="header-top__menu">

            <div class="header-top__login">
                <mat-icon style="font-size: 30px; color: var(--golden-color); cursor: pointer; " (click)="openSideNav()"
                    (mouseenter)="openSideNav()">menu</mat-icon>
                <img routerLink="home" src="{{app_logo.url}}" alt="{{app_logo.alt}}">
            </div>
            <div id="locationMenu" class="header-location" >
                <mat-icon id="locationMenu" style="font-size: 28px;color: var(--golden-color)">location_on</mat-icon>
                <div class="location" (click)="locationMtoggle()">
                    <p id="locationMenu">Ubicación</p>
                    <h1 id="locationMenu">{{selectedLocation}} <mat-icon id="locationMenu"
                            style="font-size: 20px;">expand_more</mat-icon></h1>
                </div>
<!-- ! Aqui menu desplegable -->
                <div [ngClass]="locationMenuShow ? 'active':'inactive'" class="location-menu">
                    <option (click)="setLocation(loc)" [value]="loc" *ngFor="let loc of locations">{{loc}}</option>
                </div>
            </div>

            <div class="header-top__search">
                <form class="header-top__form" (submit)="send($event)">
                    <input type="text" [formControl]="query" placeholder="Buscar">
                    <button  type="submit"> <mat-icon
                            style="font-size: 22px; color: black;">search</mat-icon></button>
                </form>
            </div>
            <p>ㅤㅤㅤㅤㅤㅤ</p>
            <div class="header-top__login">
                <p routerLink="/auth/login" *ngIf="!userEmail">Inicia Sesion/Registrate</p>
                <p id="user_email" (click)="openProfileMenu()" *ngIf="userEmail">{{userEmail}}</p>
                <mat-icon id="account_box" (click)="openProfileMenu()"
                    style="font-size: 30px; color: var(--golden-color)">account_box</mat-icon>
                <div (click)="openProfileMenu()" class="profile-menu"
                    [ngClass]="statusProfileMenu ? 'active':'inactive'">
                    <button>Perfil</button>
                    <button routerLink="contact">Contacto</button>
                    <button (click)="logout()" *ngIf="userLogued">Cerrar Sesión</button>
                    <button routerLink="/auth/login" *ngIf="!userLogued">Iniciar Sesión</button>
                </div>
            </div>

        </div>

    </div>

    <ul class="header-menu">
        <!-- <ul class="header-menu__left" (mouseenter)="openFirstMenu()" (mouseleave)="closeFirstMenu()"> -->
        <ul class="header-menu__left">
            <a id="open-animal-left">Mascotas y Razas</a><mat-icon id="open-animal-left"
                style="font-size: 20px;">expand_more</mat-icon>
            <ul class="animal-menu" (mouseleave)="closeFirstMenu();closeSecondMenu()">
                <ul class="animal-menu__left" [ngClass]="statusFirstMenu ? 'active':'inactive'">
                    <button id="open-animal-right" (click)="openSecondMenu()" (mouseenter)="openSecondMenu()"
                        [ngClass]="statusSecondMenu ? 'activeButton':'none'">
                        <p id="open-animal-right">Perros</p><mat-icon id="open-animal-right">chevron_right</mat-icon>
                    </button>
                    <button routerLink="pet-category/1" (mouseenter)="closeSecondMenu()">Gatos</button>
                    <button routerLink="pet-category/2" (mouseenter)="closeSecondMenu()">Aves</button>
                    <button routerLink="pet-category/3" (mouseenter)="closeSecondMenu()">Tortugas</button>
                    <button routerLink="pet-category/4" (mouseenter)="closeSecondMenu()">Conejos</button>
                </ul>
                <ul class="animal-menu__right" [ngClass]="statusSecondMenu ? 'active':'inactive'">
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'all'}">Todos</button>
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'big'}">Grandes</button>
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'regular'}">Medianos</button>
                    <button routerLink="pet-category/0" [queryParams]="{filter: 'small'}">Pequeños</button>
                </ul>
            </ul>
        </ul>

        <a routerLink="lost" class="header-menu__center">Mascotas Extraviadas</a>
        <a routerLink="rescue" class="header-menu__center">Rescatar Mascotas</a>
        <a routerLink="rescue-request" class="header-menu__center">Solicitar Un Rescate</a>
        <a routerLink="report" class="header-menu__center">Denunciar Maltrato</a>
        <a routerLink="location" class="header-menu__center">Ubicación</a>

        <!-- <ul class="header-menu__right" (mouseenter)="openRightMenu()" (mouseleave)="closeRightMenu()"> -->
        <ul class="header-menu__right">
            <mat-icon id="open-menu-right"
                style="font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black;margin-right: 3px; ">photo_camera</mat-icon>
            <a id="open-menu-right">Publicar Mascota</a>
            <ul class="animal-menu-right" (mouseleave)="closeRightMenu()">
                <ul class="animal-menu-right-buttons" [ngClass]="statusRightMenu ? 'active':'inactive'">
                    <button routerLink="give-adoption"><mat-icon
                            style="margin-left: 4px;margin-right:4px;font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>
                            Publicar mascota en Adopción</button>
                        <button routerLink="give-lost">
                            <mat-icon style="margin-left: 4px;margin-right:4px;font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>
                            Publicar mascota Extraviada
                        </button>
                    <button routerLink="give-rescue"><mat-icon
                            style="margin-left: 4px;margin-right:4px;font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>Publicar
                        mascota Callejera</button>
                </ul>
            </ul>
        </ul>
    </ul>
</header>