.header-top {
    background-color: var(--header-background);
    height: 88px;
    width: 100%;
    padding: 6px 20px 10px 20px;

    img {
        width: 66px;
        height: 36px;
        margin-left: 16px;
    }
}

.header-menu {
    background-color: var(--background-gray);
    height: 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    a{
        font-family: 'IBM Plex Sans KR';
        font-size: 13px;
        // font-size: 3.6vw;
        text-decoration: none;
        color: var(--black);
    }        
}
.header-menu .header-menu__left {
    display: flex;
    align-items: center;
}
.header-menu .header-menu__right {
    @extend .header-menu__left
}
.header-top__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__menu .header-top__login {
    display: flex;
    align-items: center;

    p {
        padding: 5px;
        color: white;
        font-size: 14px;
        font-family: 'IBM Plex Sans KR';
    }
}

.header-top__search {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    button {
        color: black;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        border-width: 0px;
        background-color: var(--background-gray);
    }
}
.header-top__form {
   width: 100%;
   padding-right: 8px
}
.header-top__search .header-top__searchForm {   
    width: 100%;
    height: 26px;
    background-color: var(--background-gray);
    border-radius: 5px;
    border-width: 0px;
    
}

