<header>
    <div class="header-top">
        <div class="header-top__menu">
            <div class="header-top__login">
                    <mat-icon style="font-size: 30px; color: white; cursor: pointer; "(click)="openSideNav()" >menu</mat-icon>        
                <img routerLink="home" src="https://i.postimg.cc/Hx34wMLL/logo.jpg" alt="">
            </div>
            <div class="header-top__login">
                <p>Inicia Sesion/Registrate</p>
                <mat-icon style="font-size: 24px; color: white;">account_box</mat-icon>
            </div>
        </div>
        <div class="header-top__search">
            <form class="header-top__form">
                <input type="text" class="header-top__searchForm" placeholder="  Buscar">
            </form>
            <button> <mat-icon style="font-size: 22px; color: black;">search</mat-icon></button>
        </div>
    </div>   
    
    <ul class="header-menu">
        <ul  class="header-menu__left" (click)="toggleFirstMenu()">            
            <a id="open-animal-right">Animales y Razas</a><mat-icon id="open-animal-right" style="font-size: 20px;">expand_more</mat-icon>
            <ul class="animal-menu" [ngClass]="statusFirstMenu ? 'active':'inactive'" (mouseleave)="closeFirstMenu()" (mouseleave)="closeSecondMenu()">
                <ul class="animal-menu__left">
                    <button id="open-animal-right" (click)="openSecondMenu()" [ngClass]="statusSecondMenu ? 'activeButton':'none'" (mouseenter)="openSecondMenu()"><p id="open-animal-right">Perros</p><mat-icon id="open-animal-right">chevron_right</mat-icon></button>
                    <button routerLink="terms" (mouseenter)="closeSecondMenu()">Gatos</button>                
                    <button routerLink="terms">Aves</button>
                    <button routerLink="terms">Tortugas</button>
                    <button routerLink="terms">Conejos</button>
                </ul>            
                <ul class="animal-menu__right" [ngClass]="statusSecondMenu ? 'active':'inactive'" (mouseleave)="closeSecondMenu()">
                    <button routerLink="terms">Grandes</button>
                    <button routerLink="terms">Medianos</button>
                    <button routerLink="terms">Pequeños</button>
                </ul>
            </ul>
        </ul>      

        <a routerLink="location" class="header-menu__center">Solicitar Rescate</a>

        <ul class="header-menu__right">
            <mat-icon style="font-size: 18px; color: white; text-shadow: 0px 0px 1.5px black; ">photo_camera</mat-icon>
            <a routerLink="location">Publicar Mascota</a>
        </ul>        
    </ul>
</header>