<section class="pet-search-container">
    <h1>Busqueda para: {{this.searchQuery}}s</h1>
    <div class="pet-search-content">     

        <article class="locationMenu">
            <b>Ubicación: </b>
            <p  (click)="changeStatusMenu()">{{this.location}}</p>
            <mat-icon  (click)="changeStatusMenu()" style="font-size: 20px;cursor: pointer;">expand_more</mat-icon>
            <ul class="location-menu" [ngClass]="statusMenu ? 'active':'inactive'">
                <li (click)="changeStatusMenu(); updateLocation()" *ngFor="let location of locations">{{location}}</li>
            </ul>
        </article>
        
    </div>
</section>
<app-cards [pets]="pets"></app-cards>
